.el-col-8 {
    width: 100%;
    text-align: right;
	}
.el-button--info {
	    color: #FFF;
	    background-color: #000000;
	    border-color: #000000;
	}
.el-table th>.cell {
	    display: inline-block;
	    box-sizing: border-box;
	    position: relative;
	    vertical-align: middle;
	    padding-left: 10px;
	    padding-right: 10px;
	    width: 100%;
	    font-size: 23px;
		}
.el-table .cell {
		    box-sizing: border-box;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: normal;
		    word-break: break-all;
		    line-height: 23px;
		    padding-right: 10px;
		    font-size: 23px;
		}
.item {
	font-size: 30px;
	text-align: justify;
	text-align-last: justify;
	text-justify: distribute-all-lines;
	color: #ffffff;
	margin:0px;
	padding:10px;
	background-color:#000000;
	font-family:"微软雅黑","黑体","宋体";
	height:36px;
	width: 150px;	
}