/*
Error: Invalid CSS after "panel": expected "{", was ""
        on line 1 of C:\Users\Dell\git\GitHubSpace\managesys-master\src\assets\scss\produce.scss

1: panel

Backtrace:
C:\Users\Dell\git\GitHubSpace\managesys-master\src\assets\scss\produce.scss:1
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/2345Soft/Koala/Koala_install/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/2345Soft/Koala/Koala_install/bin/sass:22:in `load'
D:/2345Soft/Koala/Koala_install/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"panel\": expected \"{\", was \"\"\A         on line 1 of C:\Users\Dell\git\GitHubSpace\managesys-master\src\assets\scss\produce.scss\A \A 1: panel"; }
